{% extends 'base.html.twig' %}

    {% block header %}
        {% include "/nav-bar/nav-bar-admin.html.twig" with {'active' : 'accueil'}%}
    {% endblock %}
    
    {% block main %}
            <h5>Bienvenue-Administrateur: {{admin.nameAdmin}} </h5>
            <br>
            <img class="bande-admin" src="/assets/img/papier.png">
            <a class="btn-supprimer-ad" href="/supprime-admin/{{admin.id}}"> Supprimer l'Administrateur </a>
    {% endblock %}